<div class="jumbotron ml-5 mr-5">
  <h1> <%= msg_jumbotron %></h1>
  <% if user_signed_in? %>
    <p>O Usuário <strong>está </strong> logado <strong><%= current_user.email %></p>
    <% else %>
      <p>O Usuário <strong>não está</strong> logado</p>
    <%end%>
    <% if admin_signed_in? %>
      <p>O Admin <strong>está </strong> logado <strong><%= current_admin.email %></strong></p>
    <% else %>
      <p>O Admin <strong>não está</strong> logado</p>
    <%end%>
  </div>
  <% @questions.each do |question| %>
    <%= form_with url: site_answer_path,  local: false do |f|%>
      <div class="card ml-5 mr-5 mb-5">
        <div class="card-header">
          <span class="badge badge-dark mr-2">
            <%= link_to question.subject.description, site_subject_search_path(question.subject.description,question.subject_id), class:"text-white"%>
          </span>
          <%= question.description %>
        </div>
        <div class="card-body">
          <ul>
            <% question.answers.each do |answer|%>
              <li style="list-style: none " class="mb-2">
                <%= radio_button_tag 'answer_id', answer.id %>
                <%= answer.description %>
              </li>
            <% end%>
            <li style="list-style: none " class="mt-3"><%= f.submit "Responder", class: "btn btn-light", id: "btn-answer-#{question.id}"%></li>
          </ul>
        </div>
      </div>
    <% end%>
  <% end%>
  <div class="ml-5">
    <%= paginate @questions %>
  </div>
