<h1 class="h3 mb-4 text-gray-800">Listando Adminstradores</h1>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= translate_attribute(@admins, :id) %></th>
        <th><%= translate_attribute(@admins, :email) %></th>
        <th><%= translate_attribute(@admins, :created_at) %></th>
        <th><%= translate_attribute(@admins, :updated_at) %></th>
        <th scope="col ">
          <%= link_to new_admins_backoffice_admin_path, type:"button", class:"btn btn-success" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @admins.each do |admin| %>
        <tr>
          <th scope="row"><%= admin.id %></th>
          <td><%= admin.email %></td>
          <td><%=  I18n.l(admin.created_at) %></td>
          <td><%=  I18n.l(admin.updated_at) %></td>
          <td>
            <%= link_to edit_admins_backoffice_admin_path(admin), class: "btn btn-primary btn-circle" do  %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to admins_backoffice_admin_path(admin), method: :delete, class:"btn btn-danger btn-circle", data: { confirm: "Deseja realmente excluir?" }  do %>
              <i class="fas fa-trash"></i>
            <% end%></td>
        </tr>
      <% end%>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @admins %>
  </div>
</div>
