<h1 class="h3 mb-4 text-gray-800"><%= action_message %></h1>
<% if @subject.errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <% @subject.errors.full_messages.each do |message_erro| %>
      <ul>
        <li >
          <%= message_erro %>
        </li>
      </ul>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% end %>
<%= form_with model: [:admins_backoffice, @subject] do |form| %>
  <div class="mb-3">
    <%= form.label :description %>
    <%= form.text_field :description, class:"form-control" %>
  </div>
  <button type="submit" class="btn btn-primary"><%= t('messages.save') %></button>
<% end %>
